<html>

  <head>

  <script type="text/javascript" ></script>

  </head>

  <body ng-app="myApp" ng-controller="mycontroller">

  <form >

<table cellpadding="2" width="20%" bgcolor="99FFFF" align="center"

  cellspacing="2">


<tr>

  <td colspan=2>

  <center><font size=4><b>Student Registration Form</b></font></center>

  </td>

  </tr>


<tr>

  <td>Name</td>

  <td><input type=text ng-model='name' id="textname" size="30"></td>

  </tr>

  <tr>

  <td>EmailId</td>

  <td><input type="text" ng-model="emailid" id="emailid" size="30"></td>

  </tr>
  <td>set password</td>

  <td><input type="text" ng-model="password" id="emailid" size="30"></td>

  </tr>



  <td><input type="reset"></td>

  <td colspan="2"><input type="submit" ng-click="submitdata()" value="Submit Form" /></td>

  </tr>

  </table>

  </form>

  </body>

  </html>

<!-- Form Validation -->
